baseURL = 'https://example.org/'
languageCode = 'en-us'
title = 'Chef InSpec Documentation'

enableGitInfo = true
disableKinds = ["taxonomy", "term", "rss"]
timeZone = 'America/New_York'

####
#
# Markdown markup config
# https://gohugo.io/configuration/markup/
#
####

[markup]
  [markup.goldmark]
    [markup.goldmark.extensions]
      definitionList = true
      footnote = true
      linkify = true
      strikethrough = true
      table = true
      taskList = true
      typographer = true
    [markup.goldmark.parser]
      autoDefinitionTermID = false
      autoHeadingID = true
      autoHeadingIDType = "github"
      wrapStandAloneImageWithinParagraph = true
      [markup.goldmark.parser.attribute]
        block = true
        title = true
    [markup.goldmark.renderHooks]
      [markup.goldmark.renderHooks.image]
        useEmbedded = 'fallback'
      [markup.goldmark.renderHooks.link]
        useEmbedded = 'never'
    [markup.goldmark.renderer]
      hardWraps = false
      unsafe = true
      xhtml = false
  [markup.highlight]
    codeFences = true
    guessSyntax = false
    hl_Lines = ""
    lineNoStart = 1
    lineNos = false
    lineNumbersInTable = true
    noClasses = true
    style = "friendly"
    tabWidth = 4
  [markup.tableOfContents]
    endLevel = 4
    ordered = false
    startLevel = 2
